html {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container {
    width: 100%;
}

.header {
    background-image: url(images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
}

header {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 200px;
}

header .description-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.menu #button-menu {
    padding: 13px 30px;
    color: #00252E;
    background-color: #fff;
    border: 0px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 20px;
}

.description-product img {
    max-width: 100%;
}

.description-product .text-product {
    display: flex;
    flex-direction: column;
}

.text-product h1 {
    font-size: 30px;
    width: 400px;
    color: #00252E;
}

.text-product p {
    font-size: 16px;
    margin-top: 0;
    width: 440px;
}

.text-product #pink-button {
    color: #fff;
    background-color: #FF5FC6;
    padding: 13px 20px;
    border-radius: 20px;
    border: 0px;
    width: 50%;
    font-weight: 700;
    box-shadow: 0px 0px 10px #ccc;
}

.description {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.description .container-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 50px;
}

.container-description img {
    width: 300px;
}

.container-description .title-desc {
    width: 50%;
}

.box-buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px#ccc;
    padding: 30px 20px;
    width: 500px;
    margin: auto;
    position: relative;
    top: 75px;
    z-index: 1;
    background-color: #fff;
}

.box-buy h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
}

.box-buy button {
    color: #fff;
    background-color: #FF5FC6;
    border-radius: 20px;
    padding: 15px 40px;
    border: 0;
    box-shadow: 0px 3px 5px #ccc;
}

.footer {
    background-color: #00252E;
}

footer {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

footer .footer-huddle {
    display: flex;
    flex-direction: column;
}

.footer-huddle {
    padding-top: 100px;
}

.logo-footer {
    color: #fff;
    margin: 40px 0;
}

.logo-footer img {
    filter: brightness(1000);
}

.info-business-huddle {
    display: flex;
    justify-content: space-between;
}

.location {
    display: flex;
    flex-direction: column;
    width: 31%;
    color: #cccccc;
    gap: 10px;
}

.location-business {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.location-business p {
    margin: 0;
    line-height: 18px;
}

.contact-business {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-business p {
    margin: 0;
}

.email-business {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-business {
    display: flex;
    justify-content: space-around;
    width: 30%;
    color: #ccc;
}

.about-business span {
    margin-bottom: 10px;
    line-height: 18px;
}

.about-business .about1,
.about-business .about2 {
    display: flex;
    flex-direction: column;
}

.social-media {
    display: flex;
    width: 30%;
    gap: 10px;
}

.social-media img {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
}

.huddle-copy {
    text-align: right;
    color: #fff;
    margin-top: 20px;
}

@media (min-width:320px) and (max-width:500px) {
    .container {
        width: 100%;
    }

    .header {
        margin-bottom: 50px;
    }

    header {
        padding: 20px 0;
    }

    .menu img {
        width: 120px;
    }

    .menu #button-menu {
        padding: 6px 15px;
    }

    .description-product {
        flex-direction: column;
        width: 100%;
    }

    .description-product .text-product {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .description-product h1 {
        text-align: center;
        font-size: 24px;
        width: 100%;
    }

    .text-product p {
        width: 100%;
        text-align: center;
    }

    .text-product #pink-button {
        width: 80%;
        margin-bottom: 50px;
    }

    .description .container-description {
        flex-direction: column-reverse;
    }

    .container-description .image {
        width: 100%;
    }

    .container-description .image img {
        width: 100%;
    }

    .container-description .title-desc {
        width: 100%;
        text-align: center;
    }

    .container-description .title-desc p {
        text-align: center;
    }

    .box-buy {
        width: 80%;
    }

    .box-buy h1 {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .box-buy button {
        padding: 10px 25px;
    }

    .logo-footer img {
        filter: brightness(1000);
        width: 60%;
        margin: 20px 0px
    }

    .footer-huddle .info-business-huddle {
        flex-direction: column;
        gap: 50px;
    }

    .location {
        width: 100%;
    }
    .info-business-huddle .location-business {
        width: 100%;
    }
    .about-business {
        width: 100%;
        flex-direction: column;
    }

    .about-business .about1, 
    .about-business .about2 {
        gap: 5px;
    }

    .social-media {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .huddle-copy {
        text-align: center;
        font-size: 11px;
    }

    .attribution {
        font-size: 16px;
    }
}

@media (min-width:501px) and (max-width:767px){
    .container {
        width: 100%;
    }

    .header {
        margin-bottom: 50px;
    }

    header {
        padding: 20px 0;
    }

    .menu img {
        width: 33%;
    }

    .menu #button-menu {
        padding: 10px 40px;
    }

    .description-product {
        flex-direction: column;
        width: 100%;
    }

    .description-product .text-product {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .description-product h1 {
        text-align: center;
        font-size: 24px;
        width: 100%;
    }

    .text-product p {
        width: 100%;
        text-align: center;
    }

    .text-product #pink-button {
        width: 60%;
        margin-bottom: 50px;
    }

    .description .container-description {
        flex-direction: column-reverse;
    }

    .container-description .image {
        width: 100%;
    }

    .container-description .image img {
        width: 100%;
    }

    .container-description .title-desc {
        width: 100%;
        text-align: center;
    }

    .container-description .title-desc p {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .box-buy {
        width: 80%;
    }

    .box-buy h1 {
        width: 100%;
        font-size: 23px;
        text-align: center;
    }

    .box-buy button {
        padding: 12px 32px;
    }

    .logo-footer img {
        filter: brightness(1000);
        width: 45%;
        margin: 20px 0px
    }

    .footer-huddle .info-business-huddle {
        flex-direction: column;
        gap: 50px;
    }

    .location {
        width: 100%;
    }
    .info-business-huddle .location-business {
        width: 100%;
    }
    .about-business {
        width: 100%;
        flex-direction: column;
    }

    .about-business .about1, 
    .about-business .about2 {
        gap: 5px;
    }

    .social-media {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .huddle-copy {
        text-align: center;
        font-size: 11px;
    }

    .attribution {
        font-size: 16px;
    }
}

@media (min-width:768px) and (max-width:980px){
    .container {
        width: 100%;
    }

    .header {
        margin-bottom: 50px;
    }

    header {
        padding: 20px 0;
    }

    .menu img {
        width: 250px;
    }

    .menu #button-menu {
        padding: 12px 30px;
    }

    .description-product {
        flex-direction: column;
        width: 100%;
    }

    .description-product .text-product {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .description-product h1 {
        text-align: center;
        font-size: 24px;
        width: 100%;
    }

    .text-product p {
        text-align: center;
    }

    .text-product #pink-button {
        width: 40%;
        margin-bottom: 50px;
    }

    .description .container-description {
        flex-direction: row;
    }

    .container-description .image {
        width: 100%;
    }

    .container-description .image img {
        width: 100%;
    }

    .container-description .title-desc {
        width: 100%;
        text-align: center;
    }

    .container-description .title-desc p {
        text-align: center;
    }

    .box-buy {
        width: 80%;
    }

    .box-buy h1 {
        width: 100%;
        font-size: 25px;
        text-align: center;
    }

    .box-buy button {
        padding: 15px 35px;
    }

    .logo-footer img {
        filter: brightness(1000);
        width: 40%;
        margin: 20px 0px
    }

    .footer-huddle .info-business-huddle {
        flex-direction: column;
        gap: 50px;
    }

    .location {
        width: 100%;
    }
    .info-business-huddle .location-business {
        width: 55%;
    }
    .about-business {
        width: 100%;
        flex-direction: column;
    }

    .about-business .about1, 
    .about-business .about2 {
        gap: 5px;
    }

    .social-media {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .huddle-copy {
        text-align: center;
        font-size: 11px;
    }

    .attribution {
        font-size: 16px;
    }
}
















.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
